/**************************************************************/
/* General Stylings */

*,
*:before,       /* damit auch alle pseudoklassen auf border-box umgestellt werden */
*:after {
  box-sizing: border-box; /*Wichtig, damit die Boxgroesse gleich bleibt*/
}

html {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

body {
  margin: 0;
}

/**************************************************************/
/* Specific Stylings */

.header {
  padding: 48px 16px;
  padding-top: 72px;
  text-align: center;
  background-color: lightyellow;
  position: relative;
}

.hire-me {
  position: absolute;
  right: 16px;
  top: 16px;
  padding: 8px;
  border-radius: 4px;
  background: gold;
  color: black;
}

.nav-link {
  padding: 4px 8px;
  color: black;
}

.nav-link:hover {
  color: black;
  background-color: lightgray;
}

.nav-link:active {
  color: white;
  background-color: grey;
}

.nav-link + .nav-link {
  margin-left: 16px;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
  border-left: 4px dotted grey;
  border-right: 4px dashed grey;
}

.main > * + * {
  margin-top: 48px;
}

.main > * {
  border-top: 4px solid grey;
  padding: 0 16px;
}

.main > *:first-child {
  border-top: 8px none;
}

.experience-heading {
  display: inline-block;
}

.articel-heading {
  position: relative;
  left: -16px;
}
.experience-subheading {
  display: inline-block;
}
